.gray-backer{
  background:#ced4da ;
  border-radius: 30px;
  margin-bottom: 5rem;
}
.close {
  position: absolute;
  right: 40px;
  top: 20px;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  font-size: 12px;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: rgb(22, 54, 236);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.form-control::placeholder {
font-size: 0.95rem;
color: #aaa;
font-style: italic;
}

.form-control.shadow-0:focus {
box-shadow: none;
}
